# **LOGISTIC REGRESSION MODEL**

**IMPORT PACKAGES AND LIBRARIES**

In [ ]:
import numpy as np
import pandas as pd
from nltk.corpus import stopwords
from sklearn import preprocessing

**1. LOAD THE DATA**

In [ ]:
#LOAD THREE DATASETS
real=pd.read_csv('/content/drive/MyDrive/thesiss/real.csv')
fake=pd.read_csv('/content/drive/MyDrive/thesiss/fake.csv')
second_dataset=pd.read_csv('/content/drive/MyDrive/thesiss/df_news.csv')

In [ ]:
real

                                           uuid  ...                        crawled
0      0a4de1a5cbde83c0e0f6679a664fe9f98aefd7cc  ...  2016-10-02T00:59:33.959+03:00
1      c4f9244cfdb3e7d6c9ebc8069a0dcb38918b9326  ...  2016-10-02T10:15:55.986+03:00
2      0c03148fa5dfe7e8b83f176886273055f3d25cde  ...  2016-10-02T20:22:33.601+03:00
3      4a04dfb10a76f772cd105f3d1984203f6700e40d  ...  2016-10-02T00:59:33.917+03:00
4      47a1880b501c9827453c9b0ccec0b64668990dc7  ...  2016-10-02T00:59:33.942+03:00
...                                         ...  ...                            ...
11963  3af83bef80cf28dbcdaadbe5af86cb654c7c98ef  ...  2016-10-31T04:09:33.990+02:00
11964  3ee61686e029b4a098414dac25ddb45450f6bda2  ...  2016-10-04T12:58:35.712+03:00
11965  cfef00fee2e16269283472fe30976ca82dd51bdc  ...  2016-10-10T12:58:49.896+03:00
11966  4ca57fee4454d0089084d5898bfeb0eabbfa6605  ...  2016-10-18T23:22:58.082+03:00
11967  0745f97e479e085ddc6c1aaade97b5b51fbbe828  ...  2016-10-26T09:17:37.682+03:00

[11968 rows x 12 columns]

In [ ]:
real.insert(0, 'Fake', '0')

In [ ]:
real.drop(['uuid', 'url',	'site',	'site_type', 'section_title',	'author', 'language',	'domain_rank',	'published', 'crawled'], axis=1, inplace=True)

In [ ]:
real

      Fake  ...                                               text
0        0  ...  Il tente d'incendier sa femme : elle est indem...
1        0  ...  Ça y est, Renaud a fait son retour sur scène !...
2        0  ...  Avec son tailleur rouge, quel message a voulu ...
3        0  ...  Foot-Ligue 1 : tous les résultats de la 8ème j...
4        0  ...  × S'abonner au podcast \nVous pouvez vous abon...
...    ...  ...                                                ...
11963    0  ...  "300 millions d'enfants respirent dans un envi...
11964    0  ...  Révolution dans nos écoles secondaires: les co...
11965    0  ...  Témoignages "Cette élève a raté dans quasi tou...
11966    0  ...  C'est pas tous les jours dimanche Tous les dim...
11967    0  ...  Témoignages Pénurie de prof de math & mère en ...

[11968 rows x 3 columns]

In [ ]:
real['text'] = real['text'] + real['title'].fillna("")

In [ ]:
real.drop(['title'], axis=1, inplace=True)

In [ ]:
fake.insert(0, 'Fake', '1')

In [ ]:
fake

      Fake  ...                                              title
0        1  ...  « Est-ce vous avez tous bien compris que notre...
1        1  ...  Malgré un charnier de 18 corps, 200 000 euros ...
2        1  ...  « Est-ce vous avez tous bien compris que notre...
3        1  ...  Malgré un charnier de 18 corps, 200 000 euros ...
4        1  ...  Pour protéger la biodiversité, le président de...
...    ...  ...                                                ...
16369    1  ...  Minneapolis: Énorme succès pour le concert de ...
16370    1  ...  Marc Wilmots s’auto-sélectionne pour l’Euro à ...
16371    1  ...  C’est vrai, la France ne tiendra pas le coup s...
16372    1  ...  Marlène Schiappa a trouvé une ville où se para...
16373    1  ...  Après sa dépression, Isabelle BALKANY inaugure...

[16374 rows x 3 columns]

In [ ]:
fake['text'] = fake['content'] + fake['title'].fillna("")

In [ ]:
fake.drop(['content','title'], axis=1, inplace=True)

In [ ]:
fake

      Fake                                               text
0        1  L’étau semble se resserrer autour du président...
1        1  Mettons les choses au clair.\n\nMes chers comp...
2        1  L’étau semble se resserrer autour du président...
3        1  Dans un message vidéo, le président de la fédé...
4        1  Après des modifications hebdomadaires puis quo...
...    ...                                                ...
16369    1  On ne connaissait pas le sélectionneur des Dia...
16370    1  Patrick Balkany, le Parrain de Levallois, est ...
16371    1  La course aux municipales de Corse accueillera...
16372    1  Après sa dépression, l’incarcération de son ma...
16373    1                                                NaN

[16374 rows x 2 columns]

In [ ]:
second_dataset

      news  ... fn_logreg
0        1  ...     False
1        2  ...     False
2        3  ...     False
3        4  ...     False
4        6  ...     False
...    ...  ...       ...
2427  2529  ...     False
2428  2530  ...     False
2429  2531  ...     False
2430  2532  ...     False
2431  2533  ...     False

[2432 rows x 19 columns]

In [ ]:
second_dataset.drop(['news',	'url',	'source',	'author',	'theme',	'description',	'date_published',	'body',	'train', 'nb_words',	'fake_pred',	'fp',	'fn',	'fake_pred_logreg',	'fp_logreg',	'fn_logreg'], axis=1, inplace=True)

In [ ]:
second_dataset['text'] = second_dataset['text'] + second_dataset['title'].fillna("")

In [ ]:
second_dataset.drop(['title'],axis=1, inplace=True)

In [ ]:
second_dataset.rename(columns = {'fake':'Fake'}, inplace = True)

In [ ]:
second_dataset['Fake']=second_dataset['Fake'].astype(str)

In [ ]:
second_dataset

     Fake                                               text
0       0  Les chefs de service hospitaliers en appellent...
1       0  L'origine des comportements alimentaires ident...
2       0  Microsoft alerte sur de nouvelles techniques d...
3       0  L'Europe se dote d'une infrastructure de téléc...
4       0  Science décalée : la créature la plus rapide s...
...   ...                                                ...
2427    1  97% de Libanaises refaites : L’ONU demande au ...
2428    1  Un réfugié syrien humilie et empêche une famil...
2429    1  Mehdi Meklat lance une banane à Christiane Tau...
2430    1  En visite en Afghanistan, Marine Le Pen refuse...
2431    1  Insolite : il supprime 50 000 tweets en une nu...

[2432 rows x 2 columns]

In [ ]:
data=pd.concat((real,fake),axis=0)
data=pd.concat((real,fake,second_dataset),axis=0)

In [ ]:
data = data.dropna()

In [ ]:
# data

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27816 entries, 0 to 2431
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fake    27816 non-null  object
 1   text    27816 non-null  object
dtypes: object(2)
memory usage: 651.9+ KB

In [ ]:
len(data)

27816

In [ ]:
data['Fake'].value_counts() #DISPLAY NUMBER OF FAKE AND TRUE NEWS

1    14487
0    13329
Name: Fake, dtype: int64

In [ ]:
#data['Fake'].value_counts().len().mean()

In [ ]:
data.shape

(27816, 2)

In [ ]:
#data.to_csv('french_corpora.csv')

In [ ]:
#data=pd.read_csv('french_corpora.csv')

In [ ]:
#data

In [ ]:
#data.drop(['Unnamed: 0'], axis=1, inplace=True)

## **1. PRE-PROCESSING AND DATA CLEANING**

In [ ]:
#data.drop(['Unnamed: 0'],axis=1, inplace=True)

**1.1 CONVERT TEXT TO LOWERCASE**

In [ ]:
data['clean_with_stopwords'] = data['text'].str.lower()  # CONVERT TEXT TO LOWERCASE

**1.2 REMOVE FRENCH STOPWORDS**

In [ ]:
!pip install stop-words

Requirement already satisfied: stop-words in /usr/local/lib/python3.7/dist-packages (2018.7.23)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
stop_words = set(stopwords.words('french'))

In [ ]:
def remove_stop_words(sentence):   #REMOVE FRENCH STOPWORDS
    stop_words  = set(stopwords.words('french'))
    word_list=sentence.split()
    clean_sentence=' '.join([w for w in word_list if w not in stop_words])
    return(clean_sentence)

In [ ]:
data['final_clean'] = data['clean_with_stopwords'].apply(remove_stop_words)

**1.3 APPLY LEMMATIZATION**

In [ ]:
!pip install -U pip setuptools wheel

Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (21.3.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (59.2.0)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (0.37.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
!pip install -U spacy

Requirement already satisfied: spacy in /usr/local/lib/python3.7/dist-packages (3.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.11.3)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.8.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy) (59.2.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (4.62.3)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.19.5)
Requirement already satisfied: typing-extensions<4.0.0.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.10.0.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.0.6)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.4.2)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.8.2)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.1)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.0.6)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in /usr/local/lib/python3.7/dist-packages (from spacy) (8.0.13)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.4.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.6)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (21.3)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.0.8)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.3.0)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.6.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.23.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.0.6)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.4.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.6->spacy) (3.6.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy) (3.0.6)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy) (5.2.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.5.0,>=0.3.0->spacy) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy) (2.0.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
!python -m spacy download fr_core_news_sm

Collecting fr-core-news-sm==3.2.0
  Downloading https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.2.0/fr_core_news_sm-3.2.0-py3-none-any.whl (17.4 MB)
     |████████████████████████████████| 17.4 MB 2.3 MB/s
Requirement already satisfied: spacy<3.3.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from fr-core-news-sm==3.2.0) (3.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (2.11.3)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (2.4.2)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (2.23.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (4.62.3)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (1.0.1)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (0.6.1)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (0.4.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (59.2.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (1.0.6)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (3.0.8)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (1.19.5)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (3.0.6)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (2.0.6)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (0.4.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (21.3)
Requirement already satisfied: typing-extensions<4.0.0.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (3.10.0.2)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (1.8.2)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (8.0.13)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (3.3.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (2.0.6)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (0.8.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.6->spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (3.6.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (3.0.6)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (5.2.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (3.0.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.5.0,>=0.3.0->spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy<3.3.0,>=3.2.0->fr-core-news-sm==3.2.0) (2.0.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
✔ Download and installation successful
You can now load the package via spacy.load('fr_core_news_sm')

In [ ]:
import spacy
from spacy import displacy

In [ ]:
nlp = spacy.load('fr_core_news_sm')

In [ ]:
data['final_clean'] = data['final_clean'].apply(lambda x: " ".join([y.lemma_ for y in nlp(x)]))

In [ ]:
data['clean_with_stopwords'] = data['clean_with_stopwords'].apply(lambda x: " ".join([y.lemma_ for y in nlp(x)]))

In [ ]:
data

     Fake  ...                                        final_clean
0       0  ...  tente de incendier femme : indemne , gravement...
1       0  ...  cela être , renaud avoir faire retour scène ! ...
2       0  ...  tailleur rouge , quel message avoir vouloir en...
3       0  ...  foot - ligue 1 : tout résultat 8ème journée 21...
4       0  ...  × se abonner podcast pouvoir abonner télécharg...
...   ...  ...                                                ...
2427    1  ...  97 pourcent libanais refaire : l’ onu demande ...
2428    1  ...  réfugier syrien humilier empêche famill rom tr...
2429    1  ...  mehdi meklat lance banane christiane taubira a...
2430    1  ...  visite afghanistan , marine pen refuse partici...
2431    1  ...  insolite : supprime 50 000 tweet nuit ! c’ êtr...

[27816 rows x 4 columns]

**1.4 DATA CLEANING**

*APPLY DATA CLEANING TO THE TEXT WITH AND WITHOUT STOPWORDS*

*WITHOUT STOPWORDS*

In [ ]:
import re 

def clean_data(text):
    text = text.lower()
    text = re.sub(r'<br />', ' ', text) #Removes Html tag
    text = re.sub(r'[^\ a-zà-ùä-üâ-ûë-ü]+', '', text)  #Removes non-alphabetic characters ???????????????????????
    text = re.sub('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', ' ',text)
    text = re.sub('http+', '', text)
    text = re.sub(r'^\s*|\s\s*', ' ', text).strip() #Removes extra whitespace, tabs
    text = re.sub(r'à|ä|â', 'a', text)  #Converts accented vowels to their non-accented form
    text = re.sub(r'é|è|ë|ê', 'e', text)
    text = re.sub(r'ï|î,', 'i', text)
    text = re.sub(r'ô', 'o', text)
    text = re.sub(r'œ', 'oe', text)S
    text = re.sub(r'ù|û|ü','u', text)
    text = re.sub(r'ÿ','y', text)
    text = re.sub(r'ç','c', text) # c o s???????
    text = re.sub(r'*facebook*', ' ', text)
    text = re.sub(r'*twitter*', ' ', text)

    return text

*WITH STOPWORDS*

In [ ]:
import re 

def clean_data_stopwords(text):
    text = text.lower()
    text = re.sub(r'<br />', ' ', text) #Removes Html tag
    text = re.sub(r'[^\ a-zá-úà-ùä-üâ-ûã-ũ]+', '', text)  #Removes non-alphabetic characters
    text = re.sub('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', ' ',text)
    text = re.sub('http+', '', text)
    text = re.sub(r'^\s*|\s\s*', ' ', text).strip() #Removes extra whitespace, tabs
    text = re.sub(r'facebook', ' ', text)
    text = re.sub(r'twitter', ' ', text)
    #œ 

    return text

In [ ]:
data['final_clean'] = data['final_clean'].apply(lambda x: clean_data(x))

In [ ]:
data['clean_with_stopwords'].head()

0    il tente de incendier son femme lui être indem...
1    cela y être renaud avoir faire son retour sur ...
2    avec son tailleur rouge quel message avoir vou...
3    foot ligue tout le résultat de le èm journée h...
4    se abonner au podcast vous pouvoir vous abonne...
Name: clean_with_stopwords, dtype: object

In [ ]:
data['clean_with_stopwords'] = data['clean_with_stopwords'].apply(lambda x: clean_data_stopwords(x))

In [ ]:
data

     Fake  ...                                        final_clean
0       0  ...  tente incendier femme indemne gravement bruler...
1       0  ...  etre renaud avoir faire retour scene octobre a...
2       0  ...  tailleur rouge message avoir vouloir envoyer h...
3       0  ...  foot ligue tout resultat eme journee octobre m...
4       0  ...  abonner podcast pouvoir abonner telechargement...
...   ...  ...                                                ...
2427    1  ...  pourcent libanais refaire onu demande liban ar...
2428    1  ...  refugier syrien humilier empeche famill rom tr...
2429    1  ...  mehdi meklat lance banane christiane taubira a...
2430    1  ...  visite afghanistan marine pen refuse participe...
2431    1  ...  insolite supprime tweet nuit etre nuire vendre...

[27816 rows x 4 columns]

In [ ]:
extra_stopwords = ['cela', 'info','secretnewsfr','secretnewsinfo', 'groupesecretnews', 'factsecretnewscheckingcodex', 'secretnewsarreter', 'secretnews', 'facebook', 'facebookla', 'facebookle', 'genereuxfacebook', 'cddmanuel', 'nouvellezelandefacebook', 'facebookligu', 'httpstcokmipdllcq', 'amienssc', 'aussifacebook', 'afpfacebook', 'kbc', 'afpvalls', 'wwwfacebookcomvinsalsace', 'dambach', 'facebooknante', 'facebookvender', 'facebookpictwittercomhfgqwljh', 'fatidiquesfacebook', 'indisposeesfacebook', 'facebookerreur', 'donotfeedtroll', 'wdartmouthedunyhanfakenewspdf', 'tagger','httpwwwlibreactufrquisecachederrierelacensuresurfacebook', 'facebookdown','instagramdown', 'facebookbranvill', 'facebooknormandie', 'facebookisrael', 'facebooksablesursarthe', 'facebookhonfleur', 'facebookillumination', 'httpswwwfacebookcomkevinbetton','facebook','etc','rer','celui','an','quel','lui','dont','adsbygoogl','secretnew','secretnews','push','celuici', 'plus info','e','un', 'ce','il','n','qu','elu','s','j','l','m','afp','se','le', 'de', 'h', 'adsbygoogle','windowsbygoogle','s','c','l','d','e','tz','of','k','ceci','october','fr','px','st','tir','to','windowadsbygoogle','jt','ing','se','de','que','ob','sept','ete','rfi','cc','gmt','u', 'lesoirbe', 'ladepechefr','motcle','sipa','confinemer','gorafi','besancon','tweet', 'nordpress','ndlr', 'ladepechefr','infos']

def remove_extra_stop_words(sentence):   
    word_list=sentence.split()
    clean_sentence=' '.join([w for w in word_list if w not in extra_stopwords])
    return(clean_sentence)

In [ ]:
data['final_clean'] = data['final_clean'].apply(remove_extra_stop_words)

In [ ]:
data

     Fake  ...                                        final_clean
0       0  ...  tente incendier femme indemne gravement bruler...
1       0  ...  etre renaud avoir faire retour scene octobre a...
2       0  ...  tailleur rouge message avoir vouloir envoyer h...
3       0  ...  foot ligue tout resultat eme journee octobre m...
4       0  ...  abonner podcast pouvoir abonner telechargement...
...   ...  ...                                                ...
2427    1  ...  pourcent libanais refaire onu demande liban ar...
2428    1  ...  refugier syrien humilier empeche famill rom tr...
2429    1  ...  mehdi meklat lance banane christiane taubira a...
2430    1  ...  visite afghanistan marine pen refuse participe...
2431    1  ...  insolite supprime tweet nuit etre nuire vendre...

[27816 rows x 4 columns]

*SAVE TO .CSV*

In [ ]:
data.to_csv('French_D.csv')

*TOTAL NUMBER OF WORDS*

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
total_words=len(nltk.word_tokenize(complete_corpus))
total_words

5956087

*NUMBER OF CHARACTERS PER ARTICLE*

In [ ]:
data['final_clean'].str.len()

0         993
1        1624
2        1696
3        1267
4         437
         ...
27811    1263
27812     573
27813     886
27814     863
27815     569
Name: final_clean, Length: 27816, dtype: int64

*MEAN OF WORDS PER ARTICLE*

In [ ]:
import nltk  # don't forget to do this step everytime in colab
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
from nltk import word_tokenize
data['Text_tokenised'] = data['final_clean'].apply(word_tokenize)

In [ ]:
data['length'] = data['Text_tokenised'].str.len()

In [ ]:
mean = data['length'].mean()

In [ ]:
mean

214.12449669255105