# **PRE-PROCESSING AND CLEANING: SPANISH DATASET**

**IMPORT PACKAGES AND LIBRARIES**

In [ ]:
import numpy as np
import pandas as pd
from nltk.corpus import stopwords
from sklearn import preprocessing

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**LOAD THE DATA**

In [ ]:
#LOAD THREE DATASETS
data_test=pd.read_csv('/content/drive/MyDrive/thesiss/sp_test.csv',encoding = "ISO-8859-1")
data_git=pd.read_csv('/content/drive/MyDrive/thesiss/sp_git.csv')
data_train=pd.read_csv('/content/drive/MyDrive/thesiss/sp_train.csv',encoding = "ISO-8859-1")

In [ ]:
import nltk
nltk.download('punkt')
tokens = []
for row in data_train['Text']:
  for word in row:
      tokens.append(nltk.tokenize.word_tokenize(word))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
print(len(tokens))

1544741

In [ ]:
data=pd.concat((data_train,data_test),axis=0) #CONCATENATE SPANISHFAKENEWS CORPUS

In [ ]:
data.drop(['Id','Topic','Source','Headline','Link'], axis=1, inplace=True) #DROP COLUMNS THAT WILL NOT BE USED

In [ ]:
data

    Category                                               Text
0       Fake  RAE INCLUIRÁ LA PALABRA "LADY" EN EL DICCIONAR...
1       Fake  La palabra "haiga", aceptada por la RAE La Rea...
2       Fake  YORDI ROSADO ESCRIBIRÁ Y DISEÑARÁ LOS NUEVOS L...
3       True  UNAM capacitará a maestros para aprobar prueba...
4       Fake  Alerta: pretenden aprobar libros escolares con...
..       ...                                                ...
290     True  Meryl Streep disfrutó unos premios Oscar tan m...
291     Fake  EL PLAGIO DE LANA DEL REY A RADIOHEAD FUE ACOR...
292     True  Ricardo Arjona lanza una serie documental por ...
293     True  Raúl Araiza sorprende a Andrea Legarreta con b...
294     Fake  Adal Ramones protagonizará el remake de El Cha...

[971 rows x 2 columns]

In [ ]:
data['Category'].value_counts()

True    491
Fake    480
Name: Category, dtype: int64

In [ ]:
data['Category']=data['Category'].replace('Fake', '1')
data['Category']=data['Category'].replace('True', '0')

In [ ]:
data

    Category                                               Text
0          1  RAE INCLUIRÁ LA PALABRA "LADY" EN EL DICCIONAR...
1          1  La palabra "haiga", aceptada por la RAE La Rea...
2          1  YORDI ROSADO ESCRIBIRÁ Y DISEÑARÁ LOS NUEVOS L...
3          0  UNAM capacitará a maestros para aprobar prueba...
4          1  Alerta: pretenden aprobar libros escolares con...
..       ...                                                ...
290        0  Meryl Streep disfrutó unos premios Oscar tan m...
291        1  EL PLAGIO DE LANA DEL REY A RADIOHEAD FUE ACOR...
292        0  Ricardo Arjona lanza una serie documental por ...
293        0  Raúl Araiza sorprende a Andrea Legarreta con b...
294        1  Adal Ramones protagonizará el remake de El Cha...

[971 rows x 2 columns]

In [ ]:
data_git[30:36]

    Category                                               Text
30      True   Unas 300 personas han sido desalojadas de un ...
31     False   Vaya manera de morir. Angelito. Intenta compl...
32      True   Vox evitará la foto con sus homólogos de la e...
33      True   Vox ha presentado este viernes una querella c...
34      True   Vox ya no quiere cerrar los canales autonómic...
35     False   ¿Canciones de amor o títulos que promueven el...

In [ ]:
# data_git['Category']=data_git['Category'].astype('object').replace('False','1')  #CHANGE BOOL TO OBJECT TYPE

In [ ]:
data_git.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  2000 non-null   bool
 1   Text      2000 non-null   object
dtypes: bool(1), object(1)
memory usage: 17.7+ KB

In [ ]:
replace_vals={False:'1',True:'0'}   #CONVERT 'FALSE' LABEL TO 'FAKE LABEL' IN THE SECOND DATASET
data_git['Category']=data_git['Category'].map(replace_vals)

In [ ]:
data_git['Category'].value_counts() #DISPLAY NUMBER OF FAKE AND TRUE NEWS

0    1000
1    1000
Name: Category, dtype: int64

In [ ]:
data_git[30:40]

   Category                                               Text
30        0   Unas 300 personas han sido desalojadas de un ...
31        1   Vaya manera de morir. Angelito. Intenta compl...
32        0   Vox evitará la foto con sus homólogos de la e...
33        0   Vox ha presentado este viernes una querella c...
34        0   Vox ya no quiere cerrar los canales autonómic...
35        1   ¿Canciones de amor o títulos que promueven el...
36        0   "Alfredo, gracias por tanto. Tú, como nadie d...
37        0   "Nos sentimos muy orgullosos de haber salvado...
38        1   "Pensar que el reggaeton es el tipo de música...
39        1   "Sin ti no soy nada, una gota de lluvia mojan...

In [ ]:
datasets=pd.concat((data, data_git),axis=0)  #CONCATENATE BOTH CORPORA INTO A SINGLE ONE

In [ ]:
datasets  #borrar

     Category                                               Text
0           1  RAE INCLUIRÁ LA PALABRA "LADY" EN EL DICCIONAR...
1           1  La palabra "haiga", aceptada por la RAE La Rea...
2           1  YORDI ROSADO ESCRIBIRÁ Y DISEÑARÁ LOS NUEVOS L...
3           0  UNAM capacitará a maestros para aprobar prueba...
4           1  Alerta: pretenden aprobar libros escolares con...
...       ...                                                ...
1995        0   El Consejo de Gobierno ha dado su visto bueno...
1996        0   Investigadores valencianos han desarrollado u...
1997        0   Los arrestados actuaban en coches y en establ...
1998        0   El Rey ha encargado este miércoles a Pedro Sá...
1999        0   Las pruebas realizadas en el Centro Nacional ...

[2971 rows x 2 columns]

In [ ]:
datasets['Text'].str.len().max()   ##???

15344

In [ ]:
datasets['Text'].str.len().mean()

926.9522046449007

In [ ]:
datasets['Text'].str.len().min()

36

In [ ]:
datasets['Category'].value_counts()

0    1491
1    1480
Name: Category, dtype: int64

## **1. PRE-PROCESSING AND DATA CLEANING**

**1.1 CONVERT TEXT TO LOWERCASE**

In [ ]:
datasets['clean_with_stopwords'] = datasets['Text'].str.lower()  # CONVERT TEXT TO LOWERCASE
#datasets

In [ ]:
datasets

     Category  ...                               clean_with_stopwords
0           1  ...  rae incluirá la palabra "lady" en el diccionar...
1           1  ...  la palabra "haiga", aceptada por la rae la rea...
2           1  ...  yordi rosado escribirá y diseñará los nuevos l...
3           0  ...  unam capacitará a maestros para aprobar prueba...
4           1  ...  alerta: pretenden aprobar libros escolares con...
...       ...  ...                                                ...
1995        0  ...   el consejo de gobierno ha dado su visto bueno...
1996        0  ...   investigadores valencianos han desarrollado u...
1997        0  ...   los arrestados actuaban en coches y en establ...
1998        0  ...   el rey ha encargado este miércoles a pedro sá...
1999        0  ...   las pruebas realizadas en el centro nacional ...

[2971 rows x 3 columns]

In [ ]:
datasets.shape

(2971, 3)

In [ ]:
datasets['Category'].value_counts()  #TOTAL NUMBER OF FAKE AND TRUE NEWS

0    1491
1    1480
Name: Category, dtype: int64

**1.2 REMOVE SPANISH STOPWORDS**

In [ ]:
!pip install stop-words

Requirement already satisfied: stop-words in /usr/local/lib/python3.7/dist-packages (2018.7.23)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
stop_words = set(stopwords.words('spanish'))   #IMPORT SPANISH STOPWORDS

In [ ]:
def remove_stop_words(sentence):   #REMOVE SPANISH STOPWORDS
    stop_words  = set(stopwords.words('spanish'))
    word_list=sentence.split()
    clean_sentence=' '.join([w for w in word_list if w not in stop_words])
    return(clean_sentence)

In [ ]:
extra_stop_words= ['él','si','la','los','las','lo','el','dc','mx','mc','ls','nlf','ay','ar','efe']
def remove_extra_stop_words(sentence):   #REMOVE SPANISH STOPWORDS
    word_list=sentence.split()
    clean_sentence=' '.join([w for w in word_list if w not in extra_stop_words])
    return(clean_sentence)

In [ ]:
datasets['final_clean'] = datasets['clean_with_stopwords'].apply(remove_stop_words)
datasets['final_clean'] = datasets['final_clean'].apply(remove_stop_words)

In [ ]:
datasets

     Category  ...                                        final_clean
0           1  ...  rae incluir palabra lady diccionario idioma es...
1           1  ...  palabra haigar aceptado rae real academia leng...
2           1  ...  yordi rosado escribir diseñar nuevo libro text...
3           0  ...  unam capacitar maestro aprobar prueba pis maxi...
4           1  ...  alerta pretender aprobar libro escolar conteni...
...       ...  ...                                                ...
1995        0  ...  consejo gobierno haber dar visto bueno convoca...
1996        0  ...  investigador valenciano haber desarrollar inno...
1997        0  ...  arrestado actuar coche establecimiento policia...
1998        0  ...  rey haber encargar miercoles pedro sanchez pre...
1999        0  ...  prueba realizado centro nacional microbiologia...

[2971 rows x 4 columns]

**1.3 APPLY LEMMATIZATION**

In [ ]:
!pip install -U pip setuptools wheel

Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (21.3.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (59.6.0)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (0.37.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
!pip install -U spacy

Requirement already satisfied: spacy in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.6)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in /usr/local/lib/python3.7/dist-packages (from spacy) (8.0.13)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.8.2)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.3.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.23.0)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.8.2)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (4.62.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.0.6)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.6.1)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.4.2)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.4.0)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.4.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.0.6)
Requirement already satisfied: typing-extensions<4.0.0.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.10.0.2)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.0.8)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.0.6)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (21.3)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.1)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.19.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy) (59.6.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.11.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.6->spacy) (3.6.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy) (3.0.6)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy) (5.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.3)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.5.0,>=0.3.0->spacy) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy) (2.0.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
!python -m spacy download es_core_news_sm

Collecting es-core-news-sm==3.2.0
  Downloading https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.2.0/es_core_news_sm-3.2.0-py3-none-any.whl (14.0 MB)
     |████████████████████████████████| 14.0 MB 17.8 MB/s
Requirement already satisfied: spacy<3.3.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from es-core-news-sm==3.2.0) (3.2.1)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (0.4.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (3.0.6)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (0.8.2)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (0.6.1)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (4.62.3)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (2.23.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (1.8.2)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (3.0.8)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (8.0.13)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (2.4.2)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (1.0.1)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (2.0.6)
Requirement already satisfied: typing-extensions<4.0.0.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (3.10.0.2)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (2.0.6)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (1.19.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (59.6.0)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (0.4.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (21.3)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (3.3.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (1.0.6)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (2.11.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.6->spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (3.6.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (3.0.6)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (5.2.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (3.0.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.5.0,>=0.3.0->spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy<3.3.0,>=3.2.0->es-core-news-sm==3.2.0) (2.0.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
✔ Download and installation successful
You can now load the package via spacy.load('es_core_news_sm')

In [ ]:
import spacy
from spacy import displacy

*LOAD MODEL FOR SPANISH LEMMATIZATION*

In [ ]:
nlp = spacy.load('es_core_news_sm')

*LEMMATIZING TEXT WITH AND WITHOUT STOPWORDS*

In [ ]:
datasets['final_clean'] = datasets['final_clean'].apply(lambda x: " ".join([y.lemma_ for y in nlp(x)])) #LEMMATIZE TEXT

In [ ]:
datasets['clean_with_stopwords'] = datasets['clean_with_stopwords'].apply(lambda x: " ".join([y.lemma_ for y in nlp(x)])) #LEMMATIZE TEXT

**1.4 DATA CLEANING**

In [ ]:
import re 

def clean_data(text):
    
    text = re.sub(r'<br />', ' ', text) #Removes Html tag
    text = re.sub('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', ' ',text)
    text = text.replace('number', ' ')
    text = text.replace('email', ' ')
    text = text.replace('urls', ' ')
    text = text.replace('phone', ' ')
    text = text.replace('*dol*', ' ')
    text = text.replace('*eur*', ' ')
    text = re.sub(r'[^\ a-zá-ú]+', '', text)  #Removes non-alphabetic characters
    text = re.sub(r'^\s*|\s\s*', ' ', text).strip() #Removes extra whitespace, tabs
    text = re.sub(r'á', 'a', text)  #Converts accented vowels to their non-accented form
    text = re.sub(r'é', 'e', text)
    text = re.sub(r'í', 'i', text)
    text = re.sub(r'ó', 'o', text)
    text = re.sub(r'ú','u', text)
   # text = re.sub(r'ñ','n', text) #Converts consonant 'ñ' to 'n'

    return text

*APPLY DATA CLEANING TO THE TEXT WITH AND WITHOUT STOPWORDS*

In [ ]:
datasets['final_clean'] = datasets['final_clean'].apply(lambda x: clean_data(x))
datasets['clean_with_stopwords'] = datasets['clean_with_stopwords'].apply(lambda x: clean_data(x))

In [ ]:
datasets

     Category  ...                                        final_clean
0           1  ...  rae incluir palabra lady diccionario idioma es...
1           1  ...  palabra haigar aceptado rae real academia leng...
2           1  ...  yordi rosado escribir diseñar nuevo libro text...
3           0  ...  unam capacitar maestro aprobar prueba pis maxi...
4           1  ...  alerta pretender aprobar libro escolar conteni...
...       ...  ...                                                ...
1995        0  ...  consejo gobierno dado visto bueno convocatoria...
1996        0  ...  investigador valenciano desarrollado innovador...
1997        0  ...  arrestado actuar coche establecimiento policia...
1998        0  ...  rey encargado miercoles pedro sanchez presente...
1999        0  ...  prueba realizado centro nacional microbiologia...

[2971 rows x 4 columns]

*SAVE .CSV*

In [ ]:
datasets.to_csv('Spanish_merged_dataa.csv')

In [ ]:
datasets

     Category  ...                                        final_clean
0           1  ...  rae incluir palabra lady diccionario idioma es...
1           1  ...  palabra haigar aceptado rae real academia leng...
2           1  ...  yordi rosado escribir diseñar nuevo libro text...
3           0  ...  unam capacitar maestro aprobar prueba pis maxi...
4           1  ...  alerta pretender aprobar libro escolar conteni...
...       ...  ...                                                ...
1995        0  ...  consejo gobierno haber dar visto bueno convoca...
1996        0  ...  investigador valenciano haber desarrollar inno...
1997        0  ...  arrestado actuar coche establecimiento policia...
1998        0  ...  rey haber encargar miercoles pedro sanchez pre...
1999        0  ...  prueba realizado centro nacional microbiologia...

[2971 rows x 4 columns]

*NUMBER OF FAKE AND TRUE ARTICLES IN THE DATASET*

In [ ]:
datasets['Category'].value_counts()

0    1491
1    1480
Name: Category, dtype: int64

In [ ]:
complete_corpus=" ".join(list(data['final_clean'].values))

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

*TOTAL NUMBER OF WORDS*

In [ ]:
total_words=len(nltk.word_tokenize(complete_corpus))
total_words

239951

*TOTAL NUMBER OFCHARACTERS PER ARTICLE*

In [ ]:
data['final_clean'].str.len()

0       1759
1        705
2       1672
3        766
4       3674
        ...
2966     160
2967     182
2968     155
2969     188
2970     189
Name: final_clean, Length: 2971, dtype: int64

*MEAN OF WORDS PER ARTICLE*

In [ ]:
from nltk import word_tokenize
data['Text_tokenised'] = data['final_clean'].apply(word_tokenize)

In [ ]:
data['length'] = data['Text_tokenised'].str.len()

In [ ]:
maxlen = data['length'].mean()

In [ ]:
maxlen

80.76438909458095